h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  font-family: 'Raleway', Arial, sans-serif;
}
h4 {
  margin-bottom: 50px;
  font-size: 36px;
}
p {
  font-size: 16px;
  line-height: 30px;
  color: white;
  font-family: 'Lato', Tahoma, sans-serif;
}
a {
  font-size: 20px;
  color: #3bc492;
  font-family: 'Lato', Arial, sans-serif;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #c0392b;
}
hr {
  margin: 50px 0;
  border-top: 1px solid #ccc; 
}
.header, .carousel-block {
  background-color: #34495e;
}
.header > div, 
.carousel-block > div, 
.footer > div {
  margin-top: 70px;
}

/*HEADER*/

.header h1 {
  font-size: 70px;
}
.header h2 {
  font-size: 30px;
}
.header h1, 
.header h2,
.header .row:nth-child(2) h3 {
  color: white;
}
.header .row:nth-child(2) {
  margin-top: 30px;
}
.header .row:nth-child(2) h3 {
  font-weight: 700;
  font-size: 14px;
}
.header .row:nth-child(2) > div:last-child img {
  margin-top: 20px;
}

/*MAIN*/

.main {
  padding: 50px 0; 
  border-top: 5px solid #bdc3c7 ;
  background-color: #f2f2f2;
}
.main h5 {
  font-size: 24px;
}
.main p {
  color: black;
}
.main .accordion .panel-heading,
.main .accordion .panel-body {
  padding: 30px 0 0;
  background-color: #f2f2f2;
} 
.main .accordion .panel-body {
  padding: 5px 0;
  font-size: 16px;
  font-family: 'Lato', Tahoma, sans-serif;
  line-height: 30px;
  border: none;
}
.main .img-center {
  margin: 0 auto;
}
.carousel-block {
  padding-bottom: 50px;
}
.carousel-block h4 {
  color: white;
}

/*FOOTER*/

.footer {
  color: white;
  background-color: #2f2f2f;
}
.footer p {
  line-height: 20px;
}
.footer .form-group {
  margin: 0 0 20px;
}
.creater {
  background-color: #222222;
}
.creater > div {
  margin: 20px auto;
}

@media (max-width: 1200px) {
  .header .row:nth-child(2) > div:first-child img,
  .header .row:nth-child(2) > div:last-child img {
    display: none;
  }
}
@media (min-width: 992px) {
  .footer textarea {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .footer textarea {
    max-width: 653px;
  }
}